block init
  - var pathToRoot = (typeof relativeToRoot == 'undefined' ? "." : relativeToRoot)

doctype html
html.no-js
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script (function (h,p) { h[p] = (h[p] || "").replace(/\bno-js\b/, "have-js"); })(document.getElementsByTagName("HTML")[0], "className");
    style.
      .have-js .only-if-no-js { display: none; }
      .no-js .only-if-js { display: none; }
    | <!--[if IE]>
    script(src=pathToRoot + '/javascripts/vendor/es5-shim/es5-shim.js')
    | <![endif]-->
    block title
      title Mimosa
    block styles
      link(rel='stylesheet', href=pathToRoot + '/stylesheets/style.css' + cachebust)

    if reload
      script(src=pathToRoot + '/socket.io/socket.io.js')
      script(src=pathToRoot + '/javascripts/reload-client.js')

    block head
      if optimize
        script(src=pathToRoot + '/javascripts/main-built.js')
      else
        script(src=pathToRoot + '/javascripts/vendor/requirejs/require.js', data-main='/javascripts/main.js')

  body
    block root
      noscript.only-if-no-js
        p
          strong JavaScript is required.
          | &nbsp;Please enable it in your browser settings and refresh this page.
      .only-if-js
        block content
      block document_end